/* */
#contenedor{
	display: flex;
	display: -webkit-flex;
	background: #0cc;
	width: 600px;
	height: 200px;
	justify-content: center;
	-webkit-justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap-reverse;
	-webkit-flex-wrap: wrap-reverse;
}
#caja1{
	background: #ccc;
	width: 100px;
	margin: 5px;
}
#caja2{
	background: #ccc;
	width: 100px;
	margin: 5px;
}
#caja3{
	background: #ccc;
	width: 100px;
	margin: 5px;
}
#caja4{
	background: #ccc;
	margin: 5px;
	flex: 1 1 400px;
	-webkit-flex: 1 1 400px;
}