/* */
#contenedor{
	display: flex;
	display: -webkit-flex;
	background: #0cc;
	width: 600px;
	height: 200px;
	align-items: stretch;
	-webkit-align-items: stretch;
}
#caja1{
	background: #ccc;
	width: 100px;
	margin: 5px;
	flex: 1;
}
#caja2{
	background: #ccc;
	width: 100px;
	margin: 5px;
	flex: 1;
}
#caja3{
	background: #ccc;
	width: 100px;
	margin: 5px;
	flex: 1;
}
#caja4{
	background: #ccc;
	width: 100px;
	margin: 5px;
	flex: 1;
}