html , body{
	background-color: #334873;
}

.content {
	max-width: 780px;
	margin: 20px 0 0 100px;
}

.clear:after { 
content: "."; display: block; height: 0; clear: both; visibility: hidden; 
}
.clear {
	min-height: 1px;
}

* html .clear {
 height: 1px;
}

.main {
	xxposition: relative;
	padding-bottom: 1em;
	border-bottom: solid 1px rgba(255,255,255,.5);
	xxoverflow:hidden;
	xxmin-height: 300px;
}
p {
	font-size: 18px;
	color: white;
	font-family:  Arial, sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
}

.results h2 {
	color: rgba(255,255,255,1);
}
.results div {
	padding-bottom: 10px;
}
.results div code {
	float: right;
	width: 60%;
}

input {
	font-size: 20px;
}
.found {
	color: rgba(255,0,0,1);
}

.resultSection {
	float: right;
	width: 45%;
	margin-left: 20px;
}
#regexTester {
	margin-right: 55%;
}
.col1 {
	float: left;
	width: 75%;	
}
.col2 {
	float: right;
	width: 20%;	
}



